[submodule "jsoncpp"]
	path = jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "sltbench"]
	path = sltbench
	url = https://github.com/ivafanas/sltbench
[submodule "googlebench"]
	path = googlebench
	url = https://github.com/google/benchmark
